.content{
text-align: center;
}
.button-1{
    border: none;
    padding: 20px;
    background-color: red;
}
.button-2{
    border: none;
    padding: 20px;
    background-color: aqua;
}
.button-3{
    border: none;
    padding: 20px;
    background-color: blue;
}
.list{
    font: bold;
    padding: 25px;
    border: none;
    margin: 20px;

}